<h2>
  Available drones
</h2>
<p>
  <a href='/drones/create'>
    Add a new drone
  </a>
</p>
<hr />
{{#each dronesFromDB}}
  <p>
    Name: {{name}}
  </p>
  <p>
    Properllers: {{propellers}}
  </p>
  <p>
    Speed: {{maxSpeed}}
  </p>
  <p>
    <a href="/drones/{{_id}}/edit">
      Edit
    </a>
  </p>
  <p>
    <form action="/drones/{{_id}}/delete" method="POST">
      <button>
        delete
      </button>
    </form>
  </div>
  </p>
  <hr />
{{/each}}